
.container{
    background-color: rgb(192,192,912);
    width: 100%;
    border-radius: 15px;
}
.progress-bar{
    background-color: rgb(116, 194, 92);
    color:white;
    padding: 4%;
    width: 80%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}
.input{
    margin: 10px;
}